<footer class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav musicplayer">
        <li><a id="mute"><span class="glyphicon glyphicon-volume-up"></span></a></li>
        <li><a id="backward"><span class="glyphicon glyphicon-backward"></span></a></li>
        <li><a id="pause"><span class="glyphicon glyphicon-pause"></span></a></li>
        <li><a id="play"><span class="glyphicon glyphicon-play"></span></a></li>
        <li><a id="forward"><span class="glyphicon glyphicon-forward"></span></a></li>        
    </ul>
    <p class="navbar-text">
        <span id="trackname">Track name</span>
    </p>
    <ul class="nav navbar-nav navbar-right">
        <li>
            2 tracks
        </li>
    </ul>
</footer>