<div class="row text-center">
    <h1>{{title}}</h1>
</div>
<div id="musiclist">
    <table class="table table-condensed table-hover  table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Time</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Time</td>
                <td>Artist</td>
                <td>Album</td>
                <td>Genre</td>
            </tr>
        </tbody>
    </table>
</div>